{% extends "base.html" %}

{% block title %}

Connection

{% endblock %}

{% block content %}

<section id="form">
    <article>
        <header>
            <h1>Connection</h1>
        </header>
        <form action="{% url 'django.contrib.auth.views.login' %}" method="post">{% csrf_token %}
            <fieldset>
                {{ form.username.label_tag }}
                {{ form.username }}<br>
                {{ form.password.label_tag }}
                {{ form.password }}<br>
                <input type="reset" value="Effacer">&nbsp;
                <input type="submit" value="Se connecter">
            </fieldset>
        </form>
    </article>
</section>

{% endblock %}