body {
    margin: 0 auto;
    background: #c5c5c5;
}

/****************
Main header style
****************/
header#mainheader {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    margin-top: 4px;
    margin-bottom: 4px;
}
header#mainheader a img {
    margin: 0 auto;
}

/**************
Main menu style
**************/
nav#mainmenu {
    background: #68A7DC;
    color: #0B071E;
    height: 1.4em;
    font-size: 1.2em;
}
nav#mainmenu a {
    color: inherit;
    text-decoration: none;
}
nav#mainmenu a:hover {
    color: #1F4683;
}
nav#mainmenu ul {
    margin: 0 auto;
    padding: 1px 2px;
    list-style: outside none none;
    width: 80%;
    font-size: 1.0em;
    line-height: 1.3em;
}

nav#mainmenu ul li {
    padding-right: 4px;
    float: left;
}

nav#mainmenu ul li.page {
    border-left: 1px solid #0B071E;
    padding-left: 4px;
}

div#container {
    clear: both;
    width: 80%;
    margin: 0 auto;
}

/***********
Main section
***********/
section#main {
    float: left;
    width: 78%;
    margin: 0 auto;
    height: 100%;
}
section#main h1 {
    font-size: 1.3em;
    background: #3D6186;
    color: white;
    padding: 2px 4px;
    border-radius: 10px 10px 0 0;
}

/*********
Right main menu
*********/
div#container aside{
    float: right;
    width: 20%;
}
div#container aside div {
    background: #ddd;
    border-radius: 10px;
    margin-bottom: 0.5em;
}
div#container aside h2 {
    font-size: 1.2em;
    margin: 2px 0;
    color: white;
    background:  #3D6186;
    padding: 2px 4px;
    border-radius: 5px 5px 0 0;
}
div#container aside div#connection ul {
    list-style: none;
    margin: 0;
    padding: 2px 4px;
}
div#container aside div#options ul {
    list-style: none;
    margin: 0;
    padding: 2px 4px;
}
div#container aside p {
    margin: 0;
    padding: 2px 4px;
}

/****************
Manage user style
****************/
section#manage article {
    background: #ddd;
    border-radius: 10px;
}
section#manage article p {
    padding: 2px 4px;
}
section#manage article table {
    margin-bottom: 1em;
}
section#manage table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}
section#manage table thead {
    background: #254061;
    color: white;
    font-weight: bold;
}
section#manage table td {
    border: 1px solid #254061;
    padding: 2px 4px;
}

/****************
Page style
****************/
section#page article {
    background: #ddd;
    border-radius: 10px;
    margin: 0 auto;
    padding: 0;
}
section#page article header h1 {
    margin: 0 auto;
}
section#page article p {
    padding: 2px 4px;
}
section#page article table {
    margin-bottom: 1em;
}
section#page table {
    width: 90%;
    margin: 0 auto;
    border-collapse: collapse;
}
section#page table thead {
    background: #254061;
    color: white;
    font-weight: bold;
}
section#page table td {
    border: 1px solid #254061;
    padding: 2px 4px;
}

/*********
Form style
*********/
section#form article {
    background: #ddd;
    margin-bottom: 1em;
    border-radius: 10px;
}
section#form article header h1 {
    margin: 0 auto;
}
section#form article p {
    padding: 2px 4px;
}
section#form form, {
    padding: 2px 4px;
    margin-bottom: 1em;
}
section#form form fieldset {
    border: 1px solid #3D6186;
    border-radius: 15px;
}
section#form label {
    font-weight: bold;
    color: #3D6186;
}
section#form span.helptext {
    font-size: 0.7em;
}
section#form input[type='submit'] {
    background: #4F647C;
    border: 1px solid #1F4683;
    color: white;
    font-size: 1.1em;
}
section#form input[type='reset'] {
    background: #FF6D6D;
    border: 1px solid #F00;
    color: white;
    font-size: 1.1em;
}

/*************
Links style
**********/
div#container a {
    color: #1F4683;
    text-decoration: none;
}
div#container a:hover {
    color: #0B071E;
}

/***********
Footer style
***********/
footer#mainfooter {
    clear: both;
    background: #254061;
    margin-top: 2em;
    position: relative;
    bottom: 0;
}
footer#mainfooter p {
    width: 90%;
    margin: 0 auto;
    color: white;
    text-align: center;
}
footer#mainfooter a {
    color: #5BB5E6;
    text-decoration: none;
}
footer#mainfooter a:hover {
    color: cyan;
}