{% extends "base.html" %}

{% block title %}

Modification du profil de {{ member.user }}

{% endblock %}

{% block content %}

<section id="form">
    <article>
	{% if user.is_authenticated and role == 'A' %}
    <header>
        <h1>Modification du profil de {{ changed_member.user }}</h1>
    </header>
    <form action="{% url 'bioinfuse:edit_member' changed_member.user.id %}" method="post">{% csrf_token %}
        <fieldset>
            {{ user_form.as_p }}
            {{ member_form.as_p }}
            <input type="submit" value="Mettre à jour">
        </fieldset>
    </form>
    <p class="info">Une fois que vous aurez validé le formulaire, vous serez automatiquement
    redirigé à la page de gestion des membres.</p>
        {% else %}
        <p>
            Vous n'êtes pas autorisé à gérer les membres. <a href="{% url 'index' %}">Retour à la page d'accueil</a>.
        </p>
	{% endif %}
	</article>
</section>

{% endblock %}
