{% extends "base.html" %}

{% block title %}Accueil{% endblock %}

{% block content %}

{% if challenge.is_open == True %}
    {% if user.is_authenticated %}
    <p>Bonjour <a href="{% url 'bioinfuse:edit_profile' user.id %}/">{{member.show_name}}</a>,
        le concours <strong>{{ challenge.title }}</strong> est ouvert du
        {{ challenge.start_date|date:"d M Y" }}
        à {{ challenge.start_date|date:"H\hh" }} au
        {{ challenge.stop_date|date:"d M Y" }}
        à {{ challenge.stop_date|date:"H\hh" }}.</p>
    {% else %}
    <p>Le concours <strong>{{ challenge.title }}</strong> est ouvert  du
        {{ challenge.start_date|date:"d M Y" }}
        à {{ challenge.start_date|date:"H\hh" }} au
        {{ challenge.stop_date|date:"d M Y" }}
        à {{ challenge.stop_date|date:"H\hh" }}.<br>
    Si vous souhaitez participer, n'hésitez pas à vous <a href="{% url 'bioinfuse:subscribe' %}">inscrire</a> dès à présent !</p>
    {% endif %}
{% else %}
<p>Aucun concours n'est ouvert pour l'instant. Merci pour l'intérêt que vous portez à BioInfuse !<br>
L'équipe de JeBiF.</p>
{% endif %}
{% endblock %}
