{% extends "base.html" %}

{% block title %}

Gestion des notes

{% endblock %}

{% block content %}

<section id="manage">
    <article>
	{% if user.is_authenticated and role == 'J' %}
    <header>
        <h1>Liste des vidéos</h1>
    </header>
    <p>
        Pour gérer les notes d'une vidéo, cliquez sur son titre dans le tableau suivant&nbsp;:
        <table>
        <thead>
            <td>Titre</td>
            <td>Concours</td>
            <td>Commentaire</td>
            <td>Note</td>
        </thead>
        {% for movie in movies %}
        <tr>
            <td><a href="{% url 'bioinfuse:add_notes' movie.id %}">{{movie.title}}</a></td>
            <td>{{ movie.challenge }}</td>
            <td>{{ movie.comment }}</td>
            <td>{{ movie.note }}/90</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="4">Aucune vidéo enregistrée pour l'instant.</td>
        </tr>
        {% endfor %}
        </table>
    </p>
    {% else %}
        <p>
            Vous n'êtes pas autorisé à gérer les notes. <a href="{% url 'bioinfuse:index' %}">Retour à la page d'accueil</a>.
        </p>
	{% endif %}
	</article>
</section>

{% endblock %}
