{% extends "base.html" %}

{% block title %}

{{ page.title }}

{% endblock %}

{% block content %}

{% if page.published %}
<section id="page">
    <article>
        <header>
            <h1>{{ page.title }}</h1>
            <small><p>Publié le {{ page.creation_date }},
            par <strong>{{ page.author }}</strong>
            {% if page.edit_date %}
            <br>
            Dernière modification le {{ page.edit_date }}
            {% endif %}
            </p></small>
            <hr>
        </header>
        <p>{{ page.content_markdown }}</p>
    </article>
</section>
{% else %}

<p class="error">La page que vous cherchez n'existe pas !</p>

{% endif %}

{% endblock %}
