{% extends "base.html" %}

{% block title %}

Soumetre une vidéo

{% endblock %}

{% block content %}

<section id="form">
    <article>
    {% if user.is_authenticated and role == 'C' %}
        {% if is_submit %}
        <header>
            <h1>Vidéo soumise avec succès !</h1>
        </header>
        <p>
            Merci d'avoir soumis votre vidéo ! Elle sera examinée par notre jury dès la fermeture des soumissions.<br>
            Vous pouvez maintenant <a href="{% url 'bioinfuse:index' %}">revenir à la page d'accueil</a>.
        </p>
        {% else %}
        <header>
            <h1>Soumission d'une vidéo</h1>
        </header>
        <form action="{% url 'bioinfuse:submit_movie' user.id %}" method="post" enctype="multipart/form-data">{% csrf_token %}
            <fieldset>
                {{ submit_movie_form.as_p }}
                <p>Votre vidéo ne doit pas peser plus de 450Mo.</p>
                <input type="submit" value="Soumettre la vidéo">
            </fieldset>
        </form>
        <p class="info">Une fois que vous aurez validé le formulaire, votre vidéo sera directement envoyée sur
            notre page Dailymotion. Une fois fait, vous serez automatiquement redirigé à la page d'accueil.<br>
        Par mesure de sécurité, merci d'attendre la fin de la soumission avant de changer de page ou de quitter
        notre application.</p>
        {% endif %}
        {% else %}
        <p>
            Vous n'êtes pas autorisé à soumettre une vidéo. <a href="{% url 'index' %}">Retour à la page d'accueil</a>.
        </p>
    {% endif %}
    </article>
</section>

{% endblock %}
